[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = git@github.lan:cpp/cmake-ci.git
[submodule "external/faslib"]
	path = external/faslib
	url = git@github.lan:cpp/faslib.git
[submodule "external/wjson"]
	path = external/wjson
	url = git@github.lan:cpp/wjson.git
[submodule "external/wlog"]
	path = external/wlog
	url = git@github.lan:cpp/wlog.git
[submodule "external/wflow"]
	path = external/wflow
	url = git@github.lan:cpp/wflow.git
[submodule "external/iow"]
	path = external/iow
	url = git@github.lan:cpp/iow.git
[submodule "external/wjrpc"]
	path = external/wjrpc
	url = git@github.lan:cpp/wjrpc.git
[submodule "external/wrtstat"]
	path = external/wrtstat
	url = git@github.lan:cpp/wrtstat.git
[submodule "external/wio"]
	path = external/wio
	url = git@github.lan:cpp/iow.git
