[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = ../cmake-ci.git
[submodule "external/faslib"]
	path = external/faslib
	url = ../../migashko/faslib.git
	branch = master
[submodule "external/wjson"]
	path = external/wjson
	url = ../wjson.git
	branch = master
[submodule "external/wlog"]
	path = external/wlog
	url = ../wlog.git
	branch = master
[submodule "external/wflow"]
	path = external/wflow
	url = ../wflow.git
	branch = master
[submodule "external/iow"]
	path = external/iow
	url = ../iow.git
	branch = master
[submodule "external/wjrpc"]
	path = external/wjrpc
	url = ../wjrpc.git
	branch = master
[submodule "external/wrtstat"]
	path = external/wrtstat
	url = ../wrtstat.git
	branch = master
